body {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	font-family: Helvetica, Arial, san serif;
	padding: 20px 20px 40px 20px;
	margin: 100px 300px;
	font-size: 100%;
}

a {
	color: black;
	text-decoration: underline;
}

img {
	border: 1px solid black;
	padding: 3px;
	margin: 20px 20px 20px 20px;
}

img.image-right {
	float: right;
	margin-top: 8px;
}

header {
	text-align: center;
}

nav {
	font-weight: bold;
}

h1 {
	padding: 0;
	font-size: 130%
}

h3 {
	font-size: 110%;
	margin: 30px 0;
}

#social-media {
	font-weight: bold;
	font-size: 110%;
	text-align: center;
}

ul#porfolio {
	list-style-type: square;
}

ul#porfolio li {
	margin-bottom: 20px;
}